files:
  "/usr/share/tomcat8/conf/logging.properties":
    owner: tomcat
    group: tomcat
    source: https://gist.githubusercontent.com/amccarty/1d431899c06b4ee9ec0ad752e270de54/raw/92482e978236a271bba2436f1944b5c82a92e4cb/logging.properties
  "/etc/rsyslog.d/21-tomcat.conf":
    owner: root
    group: root
    source: https://gist.githubusercontent.com/amccarty/888270118fb4dccb45b6818ea351c3da/raw/2028bb13a93c5cf56dc7ba7962d4e41986d726ae/21-tomcat.conf